<p class="section-description">
  We are a group of people who care deeply about Severn School, and about developing an anti-racist culture there to ensure that every student feels safe, 
  supported, and appreciated. Among us are alumni from class of 2019 back to the 1980s, former faculty, and current parents. We do not have a leader or 
  official spokesperson. Sometimes we speak as individuals and sometimes as a group.</p>
<p class="section-description">Our goal is to ensure that Severn diversifies the school and reforms its culture. We intend to hold the school accountable 
  for both a plan to achieve this and its implementation. We believe that this must be done with the utmost transparency, and that the leader of these 
  efforts must be someone who will not tolerate racism in any form, and whose personal belief in the importance of anti-racist culture is robust enough  
  lead those who may not yet believe so strongly. 
</p>
<p class="section-description">
  We work through a variety of media and platforms, and welcome all who share our goal to 
  <a class="join-link" (click)="scroll('join-section')">join us</a> in any capacity.   
</p>
