<p class="section-description">
  We are a group of people who care deeply about Severn School and want to see it develop an anti-racist culture in which every student feels safe, 
  supported, and appreciated. Among us are alumni from classes between 2019 and the 1980s, current parents, and former faculty. We do not have a leader or 
  official spokesperson. Sometimes we speak as individuals and sometimes as a group.</p>
<p class="section-description">Our goal is to ensure that Severn diversifies the school and reforms its culture. We intend to hold the school accountable 
  for the DEI work it oulined to the community on June 6, 2020. We believe this work must be done with the utmost transparency and that it must be the highest 
  priority for change at the school for, at minimum, the entirety of the 2020-2021 school year.
</p>
<p class="section-description">
  We welcome all who share our goal to 
  <a class="join-link" (click)="scroll('join-section')">join us</a> in any capacity.   
</p>
