@import 'vars', 'placeholders';

.recent-action-container {
    @extend %sans-serif-regular;
    @extend %fx-column;
    align-items: flex-start;
    margin-top: 0.8em;

    .date-label {
        display: inline-flex;
        font-weight: $font-weight-bold;
        font-size: 0.8em;
    }

    .action-description {
        @extend %serif-medium;
        margin-top: 0.4em;
        font-size: 0.9em;
        line-height: 1.3em;;
    }

    .action-item-link {
        @extend %linked-text;
        text-decoration: none;
        font-size: 0.7em;
        margin-top: 0.4em;
    }

    .action-image-display {
        @extend %fx-column;
        align-items: flex-start;

        .toggle-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin: 0.6em 0 0.2em 0;

            &:hover {
                background: $color-highlight;
            }
        }
   
        .image-toggle-label {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: $font-weight-medium;
            letter-spacing: 0.12em;
            line-height: 1.5em;
        }
    
        .toggle-button {
            cursor: pointer;
            flex-shrink: 0;
            background: none;
            border: 0;
            padding: 0;
            margin-left: 0.6em;
        }
        
        .toggle-icon svg {
            $size: calc(0.45em + 1vw);
            vertical-align: middle;
            fill: $color-dark;
            height: $size;
            width: $size;
        }
    }

    .displayed-item-container {
        overflow-y: auto;
        max-height: 600px;
        margin-bottom: 0.4em;
    }

    .displayed-item {
        width: 100%;
    }
}

