@import 'vars', 'placeholders';

.media-modal {
    @extend %fx-column;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); 
    background-color: rgba($color-dark, 0.7);

    .modal-content-container {
        @extend %fx-column-full-height;
        position: relative;
        overflow: hidden;
        background-color: $color-white;
        margin: 5% 15%;
        color: $color-dark;
    }

    .modal-top-container {
        @extend %fx-column;
        background: $color-light-gray;
        flex-shrink: 0;
    }

    .close-button-container {
        display: inline-flex;
        align-self: flex-end;
    }

    .close-modal-button {
        @extend %small-caps-label;
        margin: 0.9em 0.9em 0 0;
        padding: 0 0.2em 0 0.4em;
        z-index: 11;

        &:hover {
            transition: 0.2 ease-out;
            background: rgba(yellow, 0.7);
        }
    }

    .close-modal svg {
        vertical-align: middle;
        margin-left: 6px;
        width: 20px;
        height: 20px;
        fill: $color-dark;
    }

    .container-row {
        display: flex;
        justify-content: space-between;
    }

    .correspondence {
        @extend %sans-serif-bold;
        font-size: 108px;
        color: white;
        margin: 36px 0 0 36px;
        line-height: 4px;
        position: relative;
        top: -12px;
    }

    .item-metadata-container {
        margin: 0px 0 6px 36px;
        z-index: 11;
        position: relative;
        top: -8px;
        
        .address {
            font-size: 20px;
            font-weight: $font-weight-semi-bold;
        }

        .info-cat {
            @extend %small-caps-label;
            @extend %sans-serif-bold;
            letter-spacing: 0em;
            font-weight: $font-weight-bold;
        }
    }

    .modal-main-content {
        @extend %fx-column-full-height;
        overflow-y: auto;
        align-items: center;

        .item-note {
            @extend %sans-serif-medium;
            margin: 1em 36px 0 36px;
            font-size: 0.8em;
            font-weight: 500;
            line-height: 1.4em;
            align-self: flex-start;
        }

        .item-link {
            @extend %linked-text;
            @extend %sans-serif-medium;
            margin: 0.6em 36px 0 36px;
            font-size: 0.7em;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            font-weight: 500;
            text-decoration: none;
            align-self: flex-start;
        }

        .external-img-container {
            margin: 36px 15% 24px 15%;
        }

        .external-md-container {
            margin: 36px 15% 24px 15%;

            p,
            li {
                @extend %sans-serif-medium;
                font-size: 18px;
                margin-bottom: 14px;
                letter-spacing: -0.02em;
            }

            li {
                font-size: 16px;
                margin: 0 0 8px 0;
            }
        }
    }

    .modal-bottom-container {
        height: 24px;
        background: $color-light-gray;
        flex-shrink: 0;
    }
}
