<div
    class="open-modal-button"
    role="button"
    (click)="openModal()"
>
    View
    <app-svg-icon class="open-modal-icon" name="open-in-new"></app-svg-icon>
</div>

<div #modal class="modal media-modal" *ngIf="open">
    <div class="modal-content-container">
        <div class="modal-top-container">
            <div class="close-button-container">
                <div #closeButton role="button" class="close-modal-button" (click)="closeModal()">
                    Close window<app-svg-icon [name]="'clear-x'" class="close-modal"></app-svg-icon>
                </div>
            </div>
            <p class="correspondence">Correspondence</p>
            <div class="item-metadata-container">
                <p class="address"><span class="info-cat">From: </span>{{formatService.name(mediaItem.author) }}</p>
                <p class="address"><span class="info-cat">To: </span>{{formatService.name(mediaItem.addressee) }}</p>
                <p class="address"><span class="info-cat">Date: </span>{{formatService.date(mediaItem.date) }}</p>
            </div>
        </div>
        <div class="modal-main-content">
            <ng-container *ngIf="mediaItem.notes">
                <p *ngFor="let note of mediaItem.notes" class="item-note">{{ note }}</p>
            </ng-container>
            <ng-container *ngIf="mediaItem.link">
                <a [href]="mediaItem.link" target="_blank" class="item-link">Click here to see the original verison of this document in a new tab.</a>
            </ng-container>
            <div
                *ngIf="mediaItem.content.type === 'img'" 
                class='external-img-container'
            >
                <img class="img-resource" [src]="resource">
            </div>
            <div
                *ngIf="mediaItem.content.type === 'md'" 
                [innerHtml]="resource | safe"
                class='external-md-container'
            ></div>
            <pdf-viewer [src]="resource" [render-text]="true" style="display: block;"></pdf-viewer>
        </div>
        <div class="modal-bottom-container"></div>
    </div>
</div>
