<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div class="nav-panel">
    <h1 class="page-title">
      Severn Community
    </h1>
    <h2 class="page-subtitle">Standing Against Racism</h2>
    <div role="button" class="section-label" (click)="scroll(aboutSection)">{{ labels.about }}</div>
    <div role="button" class="section-label" (click)="scroll(actionsSection)">{{ labels.actions }}</div>
    <div role="button" class="section-label" (click)="scroll(relatedSection)">{{ labels.related }}</div>
    <div role="button" class="section-label" (click)="scroll(joinSection)">{{ labels.contact }}</div>
  </div>
  <div class="main-content">
    <section class="content-section" #aboutSection>
      <h2 class="section-title">{{ labels.about }}</h2>
      <app-about></app-about>
    </section>
    <section class="content-section" #actionsSection>
      <h2 class="section-title">{{ labels.actions }}</h2>
      <app-actions></app-actions>
    </section>
    <section class="content-section" #relatedSection>
      <h2 class="section-title">{{ labels.related }}</h2>
      <app-related></app-related>
    </section>
    <section class="content-section" #joinSection>
      <h2 class="section-title">{{ labels.contact }}</h2>
      <app-join></app-join>
    </section>
  </div>
</div>
<app-svg-definitions></app-svg-definitions>