@import 'vars', 'placeholders';

.actions-container {
    @extend %fx-column;
    align-items: center;
}

.actions-table {
    color: $color-dark;
    border-collapse: collapse;

    th {
        @extend %sans-serif-medium;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: left;
        border-bottom: 1px solid $color-dark;
        padding-bottom: 2px;
    }


    .action-table-row {
        cursor: pointer;

        &:hover {
            transition: .2s ease-out;
            background: rgba(255, 255, 0, 0.7);
        }
    }

    td {
        @extend %serif-regular;
        font-size: 18px;
        padding: 6px 36px 6px 0;
        border-bottom: 1px dotted $color-dark;

        &:last-of-type {
            padding-right: 8px;
        }
    }

    .view-button {
        display: inline-flex;
        @extend %sans-serif-medium;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .view-letter-icon svg {
        height: 14px;
        width: 14px;
        fill: $color-dark;
        margin-left: 6px;
        vertical-align: sub;
    }
}