@import 'vars', 'placeholders';

.actions-container {
    @extend %fx-column;
}

.view-text {
    @extend %sans-serif-bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.table-container {
    @extend %fx-column;
    align-items: center;
    margin-top: 36px;
}

.actions-table {
    color: $color-dark;
    border-collapse: collapse;

    th {
        @extend %sans-serif-medium;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: left;
        border-bottom: 1px solid $color-dark;
        padding-bottom: 2px;
        font-size: 18px;
    }


    .action-table-row {
        cursor: pointer;

        &:hover {
            transition: .2s ease-out;
            background: rgba(255, 255, 0, 0.7);
        }
    }

    td {
        @extend %serif-regular;
        font-size: 24px;
        padding: 8px 36px 6px 0;
        border-bottom: 1px dotted $color-dark;

        &:last-of-type {
            padding-right: 8px;
        }
    }

    .open-modal-button {
        display: inline-flex;
        @extend %sans-serif-bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        position: relative;
        top: -2px;
    }

    .open-modal-icon svg {
        height: 16px;
        width: 16px;
        fill: $color-dark;
        margin-left: 6px;
        vertical-align: sub;
    }
}