<p class="section-subheader actions">Recent</p>
<p class="instruction-text actions">Click any link icon to copy that item's URL to your clipboard</p>
<ng-container *ngFor="let action of actions">
    <app-recent-action [action]="action"></app-recent-action>
</ng-container>
<p class="section-subheader actions">Our Formation</p>
<p class="section-description actions">This group was formed in response to a letter that Head of School Doug Lagarde shared with the Severn Community on June 3, 2020. 
    Sent at a time when American institutions from schools to corporations were communicating support for Black communities, condemning police brutality, and 
    stating that Black Lives Matter, Mr. Lagarde's email did none of these things. That Mr. Lagarde mentioned issues of racial injustice only as an aside made 
    many of us very concerned about the administration's commitment to Black students and to rooting out racism at the school.
</p>
<p class="section-description actions">As we connected with others, we discovered we were not alone in wanting to see Severn take a strong stand against racism. In response
    to Mr. Lagarde's letter, we wrote an open letter to the school that over 750 alumni, students, parents, and former faculty endorsed.
</p>
<p class="section-description actions">
    Through the discussions that followed Mr. Lagarde's letter and our initial response to it, we have heard more and more stories about racist incidents occurring 
    at the school in recent years and how the administration failed to address them. The administration’s inaction in the face of overt racism is motivating our 
    continued work to ensure that Severn makes real and lasting changes to support its Black community. We acknowledge the steps Severn has committed to taking and 
    we will know that its Black students matter when students and their families feel supported and protected.
</p>
