<div class="resources-container">
  <div class="correspondence-container">
    <p class="section-subheader">Documentation</p>
    <p class="section-description">Much of what is being said around this matter, and what is shaping our understanding of the state of affairs at Severn, is occuring in writing that exists in
      various corners of the internet and in many inboxes. We wanted to have a central repository for all of these artifacts, so that people can read what has been said and shared.
    </p>
    <p class="section-description">The table below is an attempt to catalog all communications around this issue. You can see any corresponance, as well as any response it recieved, by 
      clicking on <span class="view-text">VIEW</span>.
    </p>
    <div class="table-container">
      <table class="documents-table">
        <thead>
          <tr class="documents-table-header-row">
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let letter of letters" class="documents-table-row">
            <td>{{ formatService.name(letter.author) }}</td>
            <td>{{ formatService.name(letter.addressee) }}</td>
            <td>{{ formatService.date(letter.date) }}</td>
            <td>
              <app-media-modal
                class="media-modal-button"
                [mediaItem]="letter"
              ></app-media-modal>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="section-description">If you have written a letter about issues of race at Severn and would like us to host it here, please contact us at <a class="mail-to-link" href="mailto:severnagainstracism.com">SevernAgainstRacism@gmail.com</a>.
  </p>
  <p class="section-subheader">Media</p>
  <p class="tertiary-header">About Severn</p>
  <p class="tertiary-header">About Schools Similar to Severn</p> 
</div>
