<div class="resources-container">
  <div class="correspondence-container">
    <p class="section-subheader resources">Documentation</p>
    <p class="section-description resources">Much of what shaped our understanding of the state of racial inequity at Severn exists in many inboxes. 
      We have created a central repository for these artifacts so that people can read what has been said and shared.
    </p>
    <p class="section-description resources">The documents below are an attempt to catalog all communications around this issue. You can see any corresponence, 
      as well as any response it received, by clicking on <span class="view-text">VIEW</span>.
    </p>
    <div class="table-container">
      <table class="documents-table">
        <thead>
          <tr class="documents-table-header-row">
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let letter of letters" class="documents-table-row">
            <td>{{ formatService.name(letter.author) }}</td>
            <td>{{ formatService.name(letter.addressee) }}</td>
            <td>{{ formatService.date(letter.date) }}</td>
            <td>
              <app-media-modal
                class="media-modal-button"
                [mediaItem]="letter"
              ></app-media-modal>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="section-description resources">If you have written a letter about issues of race at Severn and would like us to host it here, please contact us at <a class="mail-to-link" href="mailto:severnagainstracism.com">SevernAgainstRacism@gmail.com</a>.
  </p>
  <p class="section-subheader resources">Media</p>
  <div class="severn-media-container">
    <p class="tertiary-header">
      About Severn
    </p>
    <app-media-item class="severn-media-item" *ngFor="let item of severnMediaItems" [item]="item"></app-media-item>
  </div>
  <div class="other-media-container">
    <p class="tertiary-header">About Schools Similar to Severn</p>
    <app-media-item class="other-media-item" *ngFor="let item of otherMediaItems" [item]="item"></app-media-item>
  </div>
</div>
