
<div class="contact-item">
    <p class="contact-label">Email</p>
    <a class="contact-link" href="mailto:severnagainstracism.com">SevernAgainstRacism@gmail.com</a>
</div>
<div class="contact-item">
    <p class="contact-label">Facebook</p>
    <a class="contact-link" href="https://www.facebook.com/groups/296615148174107" target="_blank">Severn Community Standing Against Racism</a>
</div>
<div class="contact-item">
    <p class="contact-label">Instagram</p>
    <a class="contact-link" href="https://www.instagram.com/blackatsevern/" target="_blank">@blackatsevern</a>
    <p class="contact-span">  (not officially affiliated)</p>
</div>