@import 'vars';

%fx-column {
    display: flex;
    flex-direction: column;
}

%fx-column-full-height {
    @extend %fx-column;
    height: 100%;
}

%small-caps-label {
    @extend %sans-serif-medium;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 14px;
}

%linked-text {
    $link-color-solid: $color-highlight;
    $link-color-background: rgba($color-highlight, 0.7);

    cursor: pointer;
    color: $color-dark;
    font-weight: $font-weight-medium;
    border-bottom: 2px solid $link-color-solid;
    background-image: linear-gradient(transparent 0%, transparent 50%, $link-color-background 50%, $link-color-background 100%);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: all 200ms ease-in-out;

    &:hover {
        background-position: 0 100%;
    }
    &:active {
        background: $color-highlight;
        border-bottom: 2px solid $color-highlight;
        color: $color-dark;
    }
}

%external-markdown {
    p,
    li {
        @extend %sans-serif-medium;
        font-size: 0.8em;
        margin-bottom: 0.8em;
        letter-spacing: -0.02em;
    }

    li {
        font-size: 16px;
        margin: 0 0 8px 0;
    }
}

%serif-black {
    font-family: $serif-font;
    font-weight: 800;
}

%serif-bold {
    font-family: $serif-font;
    font-weight: 700;
}

%serif-semi-bold {
    font-family: $serif-font;
    font-weight: 600;
}

%serif-medium {
    font-family: $serif-font;
    font-weight: 500;
}

%serif-regular {
    font-family: $serif-font;
    font-weight: 400;
}

%sans-serif-black {
    font-family: $sans-serif-font;
    font-weight: 800;
}

%sans-serif-bold {
    font-family: $sans-serif-font;
    font-weight: 700;
}

%sans-serif-medium {
    font-family: $sans-serif-font;
    font-weight: 500;
}

%sans-serif-regular {
    font-family: $sans-serif-font;
    font-weight: 400;
}

%sans-serif-light {
    font-family: $serif-font;
    font-weight: 300;
}