/* ------- Color -------*/
$color-dark: #18181e;
$color-light: #dec79b;
$color-white: #ffffff;
$color-light-gray: #ebe9e6;

$serif-font: 'Spectral';
$sans-serif-font: 'Work Sans';

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;